/* HEADER COMPONENT CSS */

#header-container {
    background-color: #1F1F1F;
    height: 68px;
    width: 100%;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#header-container #repos-arrow-back {
    margin-right: 35px;
}